.vs
bin
obj
Ona.Widget/Build
**/.DS_Store
Ona.Widget/ona.xcodeproj/project.xcworkspace/xcuserdata/natalianaumova.xcuserdatad/UserInterfaceState.xcuserstate
Ona.Widget/ona.xcodeproj/xcuserdata/natalianaumova.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
